pipeline/Load FactMobileUserSystemUsageSnapshot.json
{
	"name": "Load FactMobileUserSystemUsageSnapshot",
	"properties": {
		"activities": [
			{
				"name": "Lookup UserListingViewExpanded folder",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": {
							"value": "select * from [etl].[IncrementalLoadMark] WHERE SourceServer = 'CMS_V2_Activity' and SchemaName = 'dbo' and TableName = 'UserListingViewExpanded'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "BIServer_SQL",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Get files from landing folder",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "Lookup UserListingViewExpanded folder",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "CMS_V2_DL_Landing_folder",
						"type": "DatasetReference",
						"parameters": {
							"FolderName": {
								"value": "@activity('Lookup UserListingViewExpanded folder').output.firstRow.FolderName",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "JsonReadSettings"
					}
				}
			},
			{
				"name": "Files exist",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Get files from landing folder",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(length(activity('Get files from landing folder').output.childItems), 0)\n\n\n",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Load data from import to dbo",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Load ListingViews from raw to import",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[usp_FactMobileUserSystemUsageSnapshot_Load_Data]",
								"storedProcedureParameters": {
									"LogID": {
										"value": {
											"value": "@pipeline().RunId",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "AzureSQL_Insight",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Truncate DeviceData from import table",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Lookup max ViewedOnDate",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[import].[usp_ImportTable_Truncate_Data]",
								"storedProcedureParameters": {
									"TableName": {
										"value": "FactMobileUserSystemUsageSnapshot_DeviceData",
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "AzureSQL_Insight",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Lookup max ViewedOnDate",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": "select max(VisitDateUTC) as MaxViewedOnDate from dbo.FactMobileUserSystemUsageSnapshot",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "AzureSQL_Insight_db",
									"type": "DatasetReference"
								},
								"firstRowOnly": true
							}
						},
						{
							"name": "Load ListingViews from raw to import",
							"type": "ExecuteDataFlow",
							"dependsOn": [
								{
									"activity": "Truncate DeviceData from import table",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "Delete ListingViews from import table_copy1",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "Delete AppData from import table",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "1.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataflow": {
									"referenceName": "Landing_2_DB_MobileUserSystemUsageSnapshot",
									"type": "DataFlowReference",
									"parameters": {
										"FolderName": {
											"value": "'@{activity('Lookup UserListingViewExpanded folder').output.firstRow.FolderName}'",
											"type": "Expression"
										}
									},
									"datasetParameters": {
										"UserListingViewExpanded": {
											"FolderName": "UserListingViewExpanded"
										},
										"User": {
											"FolderName": "User"
										},
										"LeadMobileAppOpeningAudit": {
											"FolderName": "LeadMobileAppOpeningAudit"
										},
										"LeadMobileDevice": {
											"FolderName": "LeadMobileDevice"
										},
										"FactMobileUserSystemUsageSnapshot": {
											"Schema": "dbo",
											"TableName": "FactMobileUserSystemUsageSnapshot"
										},
										"ListingViews": {
											"Schema": "import",
											"TableName": "FactMobileUserSystemUsageSnapshot_ListingViews"
										},
										"DeviceData": {
											"Schema": "import",
											"TableName": "FactMobileUserSystemUsageSnapshot_DeviceData"
										},
										"AppData": {
											"Schema": "import",
											"TableName": "FactMobileUserSystemUsageSnapshot_AppData"
										}
									}
								},
								"compute": {
									"coreCount": 8,
									"computeType": "General"
								},
								"traceLevel": "Fine"
							}
						},
						{
							"name": "Delete AppData from import table",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Lookup max ViewedOnDate",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[import].[usp_ImportTable_Delete_Data]",
								"storedProcedureParameters": {
									"DaysToKeep": {
										"value": "7",
										"type": "Int32"
									},
									"RefDate": {
										"value": {
											"value": "@activity('Lookup max ViewedOnDate').output.firstRow.MaxViewedOnDate",
											"type": "Expression"
										},
										"type": "DateTime"
									},
									"TableColumnName": {
										"value": "VisitDateUTC",
										"type": "String"
									},
									"TableName": {
										"value": "FactMobileUserSystemUsageSnapshot_AppData",
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "AzureSQL_Insight",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Delete ListingViews from import table_copy1",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Lookup max ViewedOnDate",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[import].[usp_ImportTable_Delete_Data]",
								"storedProcedureParameters": {
									"DaysToKeep": {
										"value": "7",
										"type": "Int32"
									},
									"RefDate": {
										"value": {
											"value": "@activity('Lookup max ViewedOnDate').output.firstRow.MaxViewedOnDate",
											"type": "Expression"
										},
										"type": "DateTime"
									},
									"TableColumnName": {
										"value": "VisitDateUTC",
										"type": "String"
									},
									"TableName": {
										"value": "FactMobileUserSystemUsageSnapshot_ListingViews",
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "AzureSQL_Insight",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"folder": {
			"name": "Facts"
		},
		"annotations": [],
		"lastPublishTime": "2021-11-22T11:34:42Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}