pipeline/Load to DW.json
{
	"name": "Load to DW",
	"properties": {
		"activities": [
			{
				"name": "Get files from landing folder",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "Landing_DL_folder",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "JsonReadSettings"
					}
				}
			},
			{
				"name": "Files exist",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Get files from landing folder",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(length(activity('Get files from landing folder').output.childItems), 0)\n\n\n",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Load Events",
							"type": "ExecuteDataFlow",
							"dependsOn": [
								{
									"activity": "Truncate import table OperatingPeriod",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "Truncate import table VehicleEvents",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "1.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataflow": {
									"referenceName": "Landing_2_DB_Events",
									"type": "DataFlowReference",
									"datasetParameters": {
										"VehicleEvent": {
											"Schema": "import",
											"TableName": "VehicleEvent"
										},
										"OperatingPeriod": {
											"Schema": "import",
											"TableName": "OperatingPeriod"
										}
									}
								},
								"compute": {
									"coreCount": 8,
									"computeType": "General"
								},
								"traceLevel": "Fine"
							}
						},
						{
							"name": "Truncate import table OperatingPeriod",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[import].[usp_ImportTable_Truncate_Data]",
								"storedProcedureParameters": {
									"TableName": {
										"value": "OperatingPeriod",
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "AzureSqlLokaDW",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Load data from import to dbo OperatingPeriod",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Load Events",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[usp_OperatingPeriod_Load_Data]"
							},
							"linkedServiceName": {
								"referenceName": "AzureSqlLokaDW",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Truncate import table VehicleEvents",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[import].[usp_ImportTable_Truncate_Data]",
								"storedProcedureParameters": {
									"TableName": {
										"value": "VehicleEvent",
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "AzureSqlLokaDW",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Load data from import to dbo VehicleEvents_copy1",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Load Events",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[usp_VehicleEvent_Load_Data]"
							},
							"linkedServiceName": {
								"referenceName": "AzureSqlLokaDW",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"folder": {
			"name": "Transformation"
		},
		"annotations": [],
		"lastPublishTime": "2021-11-22T11:34:43Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}